body {
  background-color: rgb(31, 30, 30);
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
}

.input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  margin: 0 auto;
  margin-top: 20dvh;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}
