body {
  background-color: rgb(31, 30, 30);
  /* background-image: linear-gradient(to right, #434343 -10%, rgb(31, 30, 30) ); */
  width: 100dvw;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

img {
  position: absolute;
  width: 100px;
     
  top: -5px;
}

.input {
  color: #F97794;
  border: 2px solid #F97794;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 190px;
  margin: 0 auto;
  margin-top: 15dvh;
  caret-color: white;
  font-size: 16px;
}

.input.index {
  width: 50px;
  margin-top: 0;
  padding: 0.2em 1em 0.2em 1em;
  margin-left: 5px;
}

/* hide input arrows in type number */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}

.input:active {
  box-shadow: 2px 2px 15px #F97794 inset;
}

input:focus {
  border: 2px solid #F97794;
  box-shadow: 2px 2px 15px #F97794 inset;
}

/* button */
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  position: relative;
  border: 2px ridge #F97794;
  padding: 0.7em 2em 0.7em 2em;
  outline: none;
  background-color: transparent;
  color: white;
  margin-top: 2rem;
  transition: 1s;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(31, 30, 30);
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(31, 30, 30);
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 7px #F97794;
}

/* nodes */
.node-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.node-container {
  min-width: fit-content;
  max-width: fit-content;
  height: 50px;
  border: #7931a2 solid 2px;

  border-radius: 0px;
  text-align: center;
  color: rgb(235, 235, 235);
  font-weight: bold;
  display: flex;
  background-color: #9F44D3;
}

.node-container:last-child {
  box-shadow: inset 0px 0px 12px #7931a2;
}
.node-container p {
  min-width: 100px;
  max-width: fit-content;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.next-node {
  min-width: 50px;
  max-width: fit-content;
  height: 100%;
  border-left: 2px solid #7931a2;
  background-color: #7931a2;
}
.arrow {
  width: 50px;
  border: solid #7931a2 1px;

  margin-left: -10px;
}
